@import 'index.css';

body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
nav{
    width: 30%;
}
.body{
    width: 70%;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}