{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="product" placeholder="product name">
    <input type="text" name="picture_url" placeholder="image url">
    <input type="text" name="description" placeholder="description">
    <input type="number" name="bids" placeholder="min bid">
    <select name="category">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Submit</button>

</form>
{% endblock %}