{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div class="home">

    <div class="home_img">
        <img style="height: 30vh;" src="{% static 'img/background.png' %}"/>

    </div>
    <div class="containerCategories">
        {% for category in categories %}


        <a href="{% url 'category' category=category %}">
            <div class="categoriesIcon">

            </div>
            <span>
            {{ category }}
            </span>
        </a>

        {% endfor %}
    </div>


    <section class="listCards">
        {% for listing in listings %}
        <article>
            <img src="{{listing.picture_url}}"/>

            <div class="cardContent">
                <a href="{% url 'listing' id=listing.id %}">{{listing.product}}</a>

                {% for bid in listing.bid_set.all %}
                <p>$ {{ bid.bid }}</p>
                {% endfor %}

                {% if listing.is_active %}

                {% else %}
                {% for bid in listing.bids %}
                <li>{{ bid.user.username }} ofreció ${{ bid.bid }} y gano</li>
                {% endfor %}

                {% endif %}

                <div class="cardFavorite">
                    {% if listing in request.user.watchlist.all %}
                    <form action="{% url 'remove_from_watchlist' id=listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><img src="{% static 'img/heart-point.svg' %}"/></button>

                    </form>
                    {% else %}
                    <form action="{% url 'add_to_watchlist' id=listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><img src="{% static 'img/heart.svg' %}"/></button>
                    </form>
                </div>

                {% endif %}
            </div>


        </article>

        {% endfor %}


    </section>

</div>

{% endblock %}