{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div  style="border: 1px solid black;">
    {% for listing in listings %}
       <a href="{% url 'listing' id=listing.id %}" >{{listing.product}}</a> 
        <img src="{{listing.picture_url}}"/>
        {{listing.description}}
        {{listing.category}}

        <!--Renderizado de la ultima bid-->
        {% for bid in listing.bid_set.all %}
        <p>{{ bid.bid }}</p>
        {% endfor %}

        {% if listing.is_active %}
            <p>Esta activo</p>
        {% else %}
            {% for bid in listing.bids %}
            <li>{{ bid.user.username }} ofreció ${{ bid.bid }} y gano</li>
            {% endfor %}
        {% endif %}
      
    


    {% endfor %}
    </div>
{% endblock %}