{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Enchanting Bids{% endblock %}</title>
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Enchanting Bids</a>

            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">New Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mylistings' %}">My Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' user_id=user.id %}">My watchlist</a>
            </li>


            <div class="nav-left ">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            </div>

            {% else %}

            <div class="nav-left nav-registerLogin">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </div>

            {% endif %}
        </ul>


    </nav>
</header>

<main>

    {% block body %}
    {% endblock %}
</main>

<script>
    window.addEventListener('scroll', function () {
        const nav = document.querySelector('nav');

        if (window.scrollY > 500) {
            nav.classList.add('scrolled');
        } else {
            nav.classList.remove('scrolled');
        }
    });
</script>
</body>
</html>
