{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="layoutPages">
    <section>
        <div class="listing">
            <h1>My Listings</h1>

            <div class="cardsContainer">
                {% for listing in listings %}
                <article>
                    <img src="{{listing.picture_url}}"/>
                    <div class="cardContent">
                        <a href="{% url 'listing' id=listing.id %}">{{listing.product}}</a>

                        {{ listing.category }}

                        {% for bid in listing.bid_set.all %}
                        <p>{{ bid.bid }}</p>
                        {% endfor %}

                        {% if listing.is_active %}
                        <span class="available">Available</span>
                        <form class="btn_card" action="{% url 'close' id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Close</button>
                        </form>
                        {% else %}

                        {% for bid in listing.bids.all %}
                        <span class="resume">{{ bid.user.username }} ofreció ${{ bid.bid }} y ganó</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                </article>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="img_form">

        <img src="{% static 'img/section.png' %}"/>

    </section>
</div>


{% endblock %}
