{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="layoutPages">
    <section class="img_form">
        <img src="{% static 'img/register.png' %}"/>
    </section>
    <section>
        <h1>Register</h1>


        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <form class="formInputs" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="contentForm">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>

            <input class="btnLoginRegister" type="submit" value="Register">
        </form>

        <span>
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </span>

    </section>


</div>
{% endblock %}