{% extends "auctions/layout.html" %}

{% block body %}
    <h2> {{listing.product}}</h2>
    <img src="{{listing.picture_url}}"/>
    {{listing.description}}
    {{listing.category}}

    <!--Renderizado de la ultima bid-->
    {% for bid in listing.bid_set.all %}
    <p>{{ bid.bid }}</p>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <!--Pujar-->
    {% if bid.listing.is_active %}
    {% for bid in listing.bid_set.all %}
    <form action="{% url 'bid' id=bid.id %}" method="POST">
        {% csrf_token %}
        <input type="number" name="new_bid" placeholder="Recuerda que la nueva puja debe ser mayor que la última" min="{{ bid.bid }}">
        <button type="submit">Puja!</button>
    </form>
    {% endfor %}
    {% endif %}

    <!--anadir o quitar de wishlist-->

    {% if listing in request.user.watchlist.all %}
        <form action="{% url 'remove_from_watchlist' id=listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Quitar de Watchlist</button>
        </form>
    
    {% else %}
        <form action="{% url 'add_to_watchlist' id=listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Añadir a Watchlist</button>
        </form>
    {% endif %}

    <!--Comentar-->
    <form action="{% url 'comment' id=listing.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user">
        <input type="hidden" name="listing" value="{{ listing.id }}">
        <input type="textarea" name="comment" placeholder="Write your comment here">
        
        <button type="submit">Comment</button>
    
    </form>


    {% endif %}
    <!--Renderizacion de comentarios-->
    {% for comment in listing.comment_set.all %}
            <li>{{ comment.user.username }}: {{ comment.comments }}</li>
    {% endfor %}


 
{% endblock %}