{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="layoutPages">


    <section>

        <div class="watchList">
            <h1>Watchlist</h1>

            <div class="cardsContainer">
                {% csrf_token %}
                {% for listing in watchlist %}

                <article>
                    <img src="{{ listing.picture_url }}"/>

                    <div class="cardContent">
                        <a href="{% url 'listing' id=listing.id %}">{{ listing.product }}</a>


                        {{ listing.category }}

                        {% for bid in listing.bid_set.all %}
                        <p>{{ bid.bid }}</p>
                        {% endfor %}

                        {% if listing.is_active %}
                        <span class="available">Available</span>
                        {% else %}

                        {% for bid in listing.bids.all %}
                        <li>{{ bid.user.username }} ofreció ${{ bid.bid }} y ganó</li>
                        {% endfor %}
                        {% endif %}

                    </div>

                </article>

                {% endfor %}
            </div>


        </div>
    </section>


    <section class="img_form">
        <img src="{% static 'img/section.png' %}"/>
    </section>
</div>
{% endblock %}

