{% extends "network/layout.html" %}
{% block body %}
{% load static %}
<div>
    <div>
        <div>
            cover picture
        </div>
        <div>
            profile picture
        </div>
        <div>
                {% if request.user.is_authenticated %}
                    {% if profile != request.user %}
                        {% if isFollowing %}
                        <form action="{% url 'unfollow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ profile }}">
                            <button type="submit">
                                Unfollow
                            </button>
                        </form>
                        {% else %}
                        <form action="{% url 'follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ profile }}">
                            <button type="submit">Follow</button>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            
        </div>
        
    </div>
    <div>
        <h3>{{profile.username}}</h3>
        <span>@{{profile.username}}</span>
        <p>{{profile.bio}}</p>
        <p>{{profile.created_at}}</p>
        <div class="tw-follow-display">
            <p>{{following.count}}<span> Following</span></p>
            <p>{{followers.count}}<span> Followers</span></p>
        </div>
    </div>
</div>
<h2>Tweets</h2>
{% for tweet in tweets %}

<div class="tw-tweet">
    <div class="tw-container-pic">
        <div class="tw-card-pic">
        </div>
    </div>
    <div>
        <a href="#">
            <strong>{{tweet.user}}</strong>
            <span>@{{tweet.user}}</span>
            <small>{{tweet.created_at}}</small>
        </a>
        <div>
            <p>{{tweet.body}}</p> 
        </div>
        <div>
            <button>♡</button>
        </div>
       
    </div>
    
</div>
    
{% endfor %}
{% endblock %}